* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: black;
    display: flex;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    border: 2px solid white;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    border: 2px solid steelblue;
    margin: 5px;
    transform: scale(1);
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.front-face,
.back-face {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    background: steelblue;
}